
<footer id="footer">
    <mat-toolbar color="primary">
    <mat-toolbar-row>
        <div id="footers">
        <div class="footerBlock">
            <div class="socials">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            </div>
        </div>
        <div class="footerBlock">
            <i class="fa fa-phone"></i>
            <div style="font-size: small; display: inline-block;">(540) 000-0000</div>
            <i class="fa fa-envelope"></i>
            <div style="font-size: small; display: inline-block;">hello@animalshelter.com</div>
        </div>
        </div>
    </mat-toolbar-row>
    </mat-toolbar>
</footer>
