#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
}

#footers {
  display: inline-flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.footerBlock {
  padding: 30px;
}

i {
  padding: 10px;
}

.mat-toolbar {
  min-height: 90px;
}

.mat-toolbar-row {
  min-height: 80px;
}
