/* Authors: Erin Johnston and Elliot Murdock */

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
}

.textInput {
  margin-top: 10px;
  margin-right: 20px;
  width: 40%;
  border: 1px solid;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
}

textarea {
  width: 85%;
  border: 1px solid;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#submitMessage {
  margin-top: 50px;
  display: none;
}

#adoptForm {
  margin-top: 10px;
  margin-bottom: 100px;
  width: 50%;
  display: none;
}

#sessionForm {
  max-width: 50%;
  margin-top: 50px;
}

#hiddenFields {
  visibility: hidden;
  display: none;
}

#submitMsgButtons {
  margin-top: 20px;
}

mat-checkbox {
  width: 85%;
}

.form-check {
  padding-left: 0;
}

.fullwidth {
  width: calc(80% + 22px);
}
