<meta name="authors" content="Erin Johnston and Elliot Murdock">
<div id="home">
  <div class="container-fluid">
      <img id="cover" src="../assets/img/pets.jpg"/>
      <h1 class="row heading" id="find">Find your next companion.</h1>
      <div id="search-row" class="row justify-content-center">
        <mat-form-field class="selectors">
          <mat-label>Pet Type</mat-label>
          <mat-select [(value)]="selectedPetType">
            <mat-option *ngFor="let pet of pets" [value]="pet.value">{{pet.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="width: 5vw; min-width: 10px;"></span>
        <mat-form-field class="selectors" id="genderSelect">
          <mat-label>Gender</mat-label>
          <mat-select [(value)]="selectedGender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="width: 5vw; min-width: 10px;"></span>
        <button mat-flat-button color="accent" id="search" (click)="searchForPets(selectedPetType, selectedGender)">Search</button>
      </div>
    <div class="container pets">
        <div>
          <h1 class="heading" id="searchMessage" *ngIf="showSearch">{{[(this.searchMessage)]}}</h1>
        </div>
        <div class="row">
          <div class="col" *ngFor="let pet of responsePets">
            <mat-card class="cardShadow petCards">
              <mat-card-header>
                <mat-card-title>{{pet.name}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image class="petPics" src="../assets/img/{{pet.image}}">
              <mat-card-content>
                <p class="petDesc">{{pet.breed}}, {{pet.gender}}, {{pet.age}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    </div>


<div class="container pets" id="petsOfMonth">
  <div class="row">
    <h1 class="heading" id="month">Featured Pets</h1>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="cardShadow petCards">
        <mat-card-header>
          <mat-card-title>{{this.featuredPets[0].name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="petPics" src="../assets/img/{{this.featuredPets[0].image}}" (click)="show(0)">
        <mat-card-content>
          <p class="petDesc">{{this.featuredPets[0].breed}}, {{this.featuredPets[0].gender}}, {{this.featuredPets[0].age}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="cardShadow petCards">
        <mat-card-header>
          <mat-card-title>{{this.featuredPets[1].name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="petPics" src="../assets/img/{{this.featuredPets[1].image}}" (click)="show(1)">
        <mat-card-content>
          <p class="petDesc">{{this.featuredPets[1].breed}}, {{this.featuredPets[1].gender}}, {{this.featuredPets[1].age}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="cardShadow petCards">
        <mat-card-header>
          <mat-card-title>{{this.featuredPets[2].name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="petPics" src="../assets/img/{{this.featuredPets[2].image}}" (click)="show(2)">
        <mat-card-content>
          <p class="petDesc">{{this.featuredPets[2].breed}}, {{this.featuredPets[2].gender}}, {{this.featuredPets[2].age}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close" (click)="close()">&times;</span>
  <img class="modal-content" id="img01" [src]="modalSrc">
  <div id="caption">{{captionText}}</div>
</div>

