<div id="home">
    <img id="pets" src="../assets/img/pets.jpg"/>
    <h1 id="find" style="font-size: calc((3.3vw + 4vh) / 2);">Find your next companion.</h1>
    <div id="search-row">
        <mat-form-field class="selectors">
          <mat-label>Pet Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let pet of pets" [value]="pet.value">{{pet.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="width: 5vw; min-width: 10px;"></span>
        <mat-form-field class="selectors">
          <mat-label>Gender</mat-label>
          <mat-select>
            <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="width: 5vw; min-width: 10px;"></span>
        <button mat-flat-button color="accent" id="search">Search</button>
    </div>
</div>

<div>
    <mat-card class="toby">
      <mat-card-header>
        <mat-card-title>Toby</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/img/toby.jpg">
    </mat-card>
</div>